@charset "utf-8";
/* ------------------------------------------
* Filename :oneclick.css
* Description :원클릭보험계산
------------------------------------------ */

/* 원클릭보험계산 정보입력(검색) */
#container.oneclick{margin-top:-60px;width:100%;min-width:1100px;height:auto;}
#container.oneclick input[type="text"], #container.oneclick input[type="password"]{padding:0 20px}

/* 2019-10 보험료 간편조회 서비스 개편 */
.oneclick h2, .oneclick input, .oneclick button, .oneclick input, .oneclick select, .oneclick textarea,
.oneclick{font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
 
.oneclick_cont{background-color:#dbf0ff}
.oneclick_cont .inner{position:relative;width:1000px;margin:0 auto;padding:10px 0 10px}
.oneclick_cont .h3_tit{height:30px;padding-top:5px;box-sizing:border-box;font-size:25px;text-align:center;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.oneclick_cont .tit_txt{height:90px;padding:10px 0 55px;box-sizing:border-box;color:#333;font-size:26px;font-weight:300;text-align:center}
.oneclick_cont .ico_plus{display:inline-block;width:22px;height:22px;line-height:22px;background-color:#fff;border-radius:100%;font-size:25px;text-align:center}
.oneclick_cont .tel_area{position:absolute;right:-150px;top:227px;width:117px;height:372px;background:#fff;text-align:center;letter-spacing:-1px}
.oneclick_cont .tel_area .tel_box{display:block;height:439px;padding:30px 0;background-color:#fff;box-shadow:4px 0 12px rgba(0,0,0,.14);box-sizing:border-box;color:#222;text-decoration:none;font-size:16px}
.oneclick_cont .tel_area .tel_box>em{position:relative;display:inline-block;height:25px;font-size:17px;font-weight:bold;line-height:23px}
.oneclick_cont .tel_area .tel_box>span{display:block;margin:15px 0;color:#022222;font-weight:300;line-height:1.6}
.oneclick_cont .tel_area .tel_box > .ico_tel{padding-top:62px;background:url('/upload/PRODUCT/web/oneclick/ico_oc_tel.png') 50% 0 no-repeat}
.oneclick_cont .tel_area .tel_box > .tel{margin-top:5px;color:#008bec;font-weight:bold;font-size:32px;line-height:28px}

.oneclick_cont .step_box_wrap{box-shadow:8px 0 10px rgba(0,0,0,.06)}
.oneclick_cont .step_box_wrap:after{content:"";display:block;clear:both}
.oneclick_cont .step_box{position:relative;float:left;width:100%;min-height:239px;height:auto;padding:20px 58px 26px;background-color:#fff;color:#666;box-sizing:border-box}
.oneclick_cont .step_box:first-child{margin-left:0}

.oneclick_cont .step_num{font-size:27px}
.oneclick_cont .step_text{margin-bottom:30px;color:#222;font-size:26px;text-align:center}
.oneclick_cont .step_box .step_text strong{font-weight:bold}
.oneclick_cont .step_box .step_text span{color:#747474;font-weight:300;font-size:24px}

.oneclick_cont .oc_product_list{padding-bottom:25px}
.oneclick_cont .oc_product_list:after{content:"";clear:both;display:block}
.oneclick_cont .oc_product_list li{float:left;width:14.2857%}
.oneclick_cont .oc_product_list li.list_finish{width:100%}
.oneclick_cont .oc_product_list li button{width:100%;height:100px;background-color:transparent;border:0;box-sizing:border-box;color:#222;font-size:18px;line-height:21px;font-weight:normal;text-align:center}
.oneclick_cont .oc_product_list li button.on{color:#fff}
.oneclick_cont .oc_product_list li button span{position:relative;display:block;padding-top:68px;height:140px;box-sizing:border-box}
.oneclick_cont .oc_product_list li.list_finish{margin-top:10px}
.oneclick_cont .oc_product_list li.list_finish button{border:1px solid #fff}
.oneclick_cont .oc_product_list li.list_finish span{padding-top:0}
.oneclick_cont .step_box .oc_product_list li button span:before{content:"";display:inline-block;position:absolute;left:50%;margin-left:-41.5px;top:5px;width:83px;height:53px;background:url('/img/bg_ico_oneclick.png') no-repeat;box-sizing:border-box}
.oneclick_cont .step_box .oc_product_list li.list_all button span:before{background-position:0 0}
.oneclick_cont .step_box .oc_product_list li.list01 button span:before{background-position:-85px 0}
.oneclick_cont .step_box .oc_product_list li.list02 button span:before{background-position:-170px 0}
.oneclick_cont .step_box .oc_product_list li.list03 button span:before{background-position:-255px 0}
.oneclick_cont .step_box .oc_product_list li.list04 button span:before{background-position:0 -85px}
.oneclick_cont .step_box .oc_product_list li.list05 button span:before{background-position:-85px -85px}
.oneclick_cont .step_box .oc_product_list li.list06 button span:before{background-position:-170px -85px}
.oneclick_cont .step_box .oc_product_list li.list_finish button span:before{display:none}

.oneclick_cont .step_box .oc_product_list li.list_finish{display:none}
.oneclick_cont .step_box.active .oc_product_list li.list_finish{display:block}
.oneclick_cont .oc_product_list li.on button span:after{content:"";display:inline-block;position:absolute;left:50%;margin-left:-41.5px;top:5px;width:83px;height:83px;background-color:rgba(255,255,255,0.2);background-image:url('/img/bg_chked.png');background-position:50% 50%;background-repeat:no-repeat;border:1px solid transparent;border-radius:100%;box-sizing:border-box}
.oneclick_cont .step_box .list_finish{display:none}
.oneclick_cont .list_finish{margin-top:5px}
.oneclick_cont .list_finish button{width:100%;height:43px;padding:0;line-height:43px;background-color:#008bec;border:1px solid #fff;color:#fff}
.oneclick_cont .list_finish .ico_slt span{display:inline-block;height:41px;padding-left:20px;background:url('/upload/PRODUCT/web/oneclick/ico_slt_check.png') 0 11px no-repeat;}
.oneclick_cont .list_finish button span:before{display:none} 
.oneclick_cont .list_finish.on button span:after,
.oneclick_cont .list_finish button span:after{display:none}

.oneclick_cont .step_box02 .step_con,
.oneclick_cont .step_box03 .step_con{padding-top:54px}

.oneclick_cont .rd_wrap,
.oneclick_cont .inp_wrap{margin-bottom:20px;display:inline-block;vertical-align:top}
.oneclick_cont .input_lb{display:inline-block;width:130px;padding-left:30px;box-sizing:border-box;color:#222;font-size:20px;font-weight:bold;line-height:48px;vertical-align:top}
.oneclick_cont .name_wrap .input_lb,
.oneclick_cont .gender_wrap .input_lb{width:124px;padding-left:70px;vertical-align:top}
.oneclick_cont .name_wrap .input_area,
.oneclick_cont .gender_wrap .input_area{display:inline-block;width:264px}
.oneclick_cont .rd_wrap .gender{float:left;width:132px;height:48px;margin-right:0;background-color:#fff;border:1px solid #bfbfbf;box-sizing:border-box;color:#222;font-size:20px}
.oneclick_cont .rd_wrap .gender:after{content:"";display:block;clear:both}
.oneclick_cont .rd_wrap .gender.female{border-left:0 none}
.oneclick_cont .rd_wrap .gender.chked{background-color:#008bec;border:1px solid #008bec;color:#fff}
.oneclick_cont .step_box input.g_input_01{width:264px;height:48px;line-height:48px;padding-left:20px;border:1px solid #bfbfbf;box-sizing:border-box;text-align:left;font-size:20px}

#container.oneclick .oneclick_cont input:-ms-input-placeholder{color:#a9a9a9}
#container.oneclick .oneclick_cont input:-moz-input-placeholder{color:#a9a9a9}
#container.oneclick .oneclick_cont input::-webkit-input-placeholder{color:#a9a9a9}

.oneclick_cont .confirm:before{content:"";clear:both;display:block}
.oneclick_cont .confirm{width:724px;margin:30px auto 40px}
.oneclick_cont .confirm .btn_oneclick01{display:block;margin-bottom:30px;padding:7px 0;background-color:#df5156;box-shadow:5px 0 10px rgba(0,0,0,.14);text-align:center;color:#fff;font-size:28px}
.oneclick_cont .confirm .btn_oneclick01 span{position:relative;padding-right:42px;}
.oneclick_cont .confirm .btn_oneclick01 span:after{content:"";position:absolute;top:-3px;right:0;display:inline-block;width:38px;height:28px;background:url('/img/ico_w_arrow.png') 99% 0 no-repeat;background-size:auto 25px;transform:rotate(90deg)}
.oneclick_cont .confirm .btn_oneclick02{float:right;padding:10px 30px;background-color:#008bec;text-align:center;color:#fff;font-size:18px}
.oneclick_cont .confirm a:hover{text-decoration:none}
.oneclick_cont .confirm a span em{color:#fffd3b;font-weight:bold}

.oneclick_cont_02{padding:50px 0}
.oneclick_cont_02 .oneclick_cont_box{position:relative;width:1100px;margin:0 auto;padding:30px 225px 30px 40px;border:1px solid #d6d6d6;box-sizing:border-box}
.oneclick_cont_02 .oneclick_cont_box p{margin-bottom:10px;color:#333;font-size:26px}
.oneclick_cont_02 .oneclick_cont_box p .c_name{color:#008bec;font-weight:bold}
.oneclick_cont_02 .oneclick_cont_box p .c_cate{font-weight:bold}
.oneclick_cont_02 .oneclick_cont_box .btn_wrap_right{position:absolute;right:40px;top:30px}
.oneclick_cont_02 .oneclick_cont_box .btn_box{padding:8px 16px;background:#fff;border:1px solid #222;color:#222;font-size:16px}
.oneclick_cont_02 .oneclick_cont_box .btn_box span{padding-right:30px;background:url('/upload/PRODUCT/web/oneclick/bg_arr_up.png') 99% 50% no-repeat}
.oneclick_cont_02 .oneclick_cont_box .dash_tit{color:#333;font-size:20px;vertical-align:middle}

/* TOP BANNER */
.top_banner{position:relative;height:146px;background-color:#fdffb9;box-sizing:border-box;z-index:112}
.top_banner .inner{margin:0 auto;width:1100px}
.top_banner .inner a{text-align:center;display:block}
.top_banner .bn_close{position:absolute;bottom:12px;right:50%;margin-right:-540px;line-height:29px}
.top_banner .bn_close input[type="checkbox"]{background:url('../MAIN/bg_mainTop_chk.png') no-repeat 0 0;-webkit-appearance:none;margin-right:5px;border:0;overflow:hidden;width:15px;height:15px}
.top_banner .bn_close input[type="checkbox"]:checked{background-position:left bottom;}
.top_banner .bn_close a.btn_banner_close{display:inline-block;vertical-align:middle;width:14px;height:14px;margin-top:-2px;color:transparent;background-image:url('../MAIN/btn_mainTop_close.png');background-repeat:no-repeat}
.top_banner .bn_close label{line-height:15px;letter-spacing:-0.05em;color:#444;font-size:13px}

/* 스마일케어 리스트 수정(20210405) */
.smilecare-list.t2 .list-cont .cont-item>li{margin-bottom:45px!important}
.smilecare-list.t2 .list-cont .cont-item>li>a{display:table}
.smilecare-list .list-cont .cont-item .li-img{vertical-align:middle;display:table-cell!important}
.smilecare-list.t2 .list-cont .cont-item .li-txt{position:static!important;left:0!important;padding-left:20px;vertical-align:middle;display:table-cell!important}

/* 스마일케어 (모바일) - 퍼블확인용 */
/*.base-body.smilecare-wrap .form_item.t2{margin-top:20px}
.base-body.smilecare-wrap .list-cont .type-img li>a{display:table}
.base-body.smilecare-wrap .list-cont .type-img li .li-txt{float:none;vertical-align:middle}
.base-body.smilecare-wrap .list-cont .type-img li .li-img .img-item{float:none;vertical-align:middle}
.base-body.smilecare-wrap .cont-item li{margin-bottom:20px}*/

/* 보험상품 보험료 확인 영역(20210414) */
.prd_cont_top .prd_top_box .btn_wrap .btn_prd_arrow{position:relative;width:268px;height:134px;}
.prd_cont_top .prd_top_box .btn_wrap .btn_prd_arrow span{display:block;position:absolute;top:30px;left:30px;animation:leftShake 1.9s infinite ease-out}
@keyframes leftShake {
	0% {left:36px}
	50% {left:26px}
	100% {left:36px}
}

/* 스마일케어 (웹) - 퍼블확인용 2021-06-24 임시 추가 */
.submain_care .submain_con .img_con_list a.imglist_wrap{height:310px !important;}
.submain_care .submain_con .img_con_list a.imglist_wrap:after{height:310px !important;}

.oneclick .btn_sort{position:relative;padding:0;margin:0 10px;background-color:#fff;border:0;border-bottom:1px solid #fff;color:#333;font-size:20px;}
.oneclick .btn_sort.on{border-bottom:1px solid #004286;color:#004286;font-weight:bold}

.oneclick_cont_03{padding:0 0 30px;background-color:#f2f2f2}
.oneclick_cont_03 .swiper-container.oneclick_swiper{min-height:1100px} /* 검증계 데이터 입력시 가려지는 현상으로 수정 1000 -> 1100 */ 
.oneclick_cont_03 .slider_wrap{position:relative;width:1100px;margin:0 auto}
.oneclick_cont_03 .swiper-pagination{position:absolute;left:initial;right:0;top:70px;height:20px}
.oneclick_cont_03 .swiper-pagination-bullet{width:16px;height:16px;margin:0 4px;border-radius:16px;text-align:right}
.oneclick_cont_03 .swiper-pagination-bullet-active{width:36px;background-color:#008bec}
.oneclick_cont_03 .swiper-button-prev{width:59px;height:59px;background-color:#008bec;background-image:url('/upload/PRODUCT/web/oneclick/ico_w_arrow.png');background-size:auto 24px;transform:rotate(180deg);border:0;border-radius:100%}
.oneclick_cont_03 .swiper-button-next{width:59px;height:59px;background-color:#008bec;background-image:url('/upload/PRODUCT/web/oneclick/ico_w_arrow.png');background-size:auto 24px;border:0;border-radius:100%}
.oneclick_cont_03 .swiper-button-prev.swiper-button-disabled,
.oneclick_cont_03 .swiper-button-next.swiper-button-disabled{background-color:#dcdcdc}

.oneclick_cont_03 .swiper-button-prev{left:-100px}
.oneclick_cont_03 .swiper-button-next{right:-100px}
.oneclick_cont_03 .swiper-button-prev span, 
.oneclick_cont_03 .swiper-button-next span{font-size:1px;color:transparent}

.swiper-slide.oneclick_prd{width:342px;;margin-right:30px}
.oneclick_prd{margin-top:115px;background-color:#f2f2f2;text-align:left}
.oneclick_prd .oc_box{position:relative}
.oneclick_prd .lb{position:absolute;top:0;right:0;display:inline-block;width:71px;height:58px;background:url('/upload/PRODUCT/web/oneclick/bg_lb_best.png') no-repeat;box-sizing:border-box;color:transparent;font-size:1px;line-height:100%;text-align:right}
.oneclick_prd .lb.hot{background:url('bg_lb_hot.png') no-repeat;}
.oneclick_prd .lb.new {background:url('bg_lb_new.png') no-repeat;}

.oneclick_prd .oc_txt{position:relative;width:342px;height:140px;padding:35px 10px 35px 118px;margin:0 auto 30px;background:#fff;border-radius:17px;box-shadow:0 8px 4px rgba(184,184,184,0.14);box-sizing:border-box;color:#222;font-size:16px;line-height:1.4}
.oneclick_prd .oc_txt:after{content:"";display:inline-block;position:absolute;bottom:-21px;left:50%;width:350px;height:40px;margin-left:-175px;background:url('/upload/PRODUCT/web/oneclick/bg_cate_tail.png') 50% 100% no-repeat}
/* .oneclick_prd .oc_txt:after{content:"";display:inline-block;position:absolute;bottom:-13px;left:50%;border:30px solid transparent;border-bottom:none;border-top-color:#fff;width:30px;height:14px;margin-left:-15px;box-sizing:border-box;} */
.oneclick_prd .oc_txt:before{content:"";position:absolute;top:30px;left:25px;display:inline-block;width:80px;height:80px;background:url('/upload/PRODUCT/web/oneclick/bg_oneclick_view.png') no-repeat}
.oneclick_prd .oc_txt.cate01:before{background-position:0 0} 
.oneclick_prd .oc_txt.cate02:before{background-position:-80px 0}
.oneclick_prd .oc_txt.cate03:before{background-position:-160px 0}
.oneclick_prd .oc_txt.cate04:before{background-position:-240px 0}
.oneclick_prd .oc_txt.cate05:before{background-position:-320px 0}
.oneclick_prd .oc_txt.cate06:before{background-position:0 -80px}
.oneclick_prd .oc_txt.cate07:before{background-position:-80px -80px}
.oneclick_prd .oc_txt.cate08:before{background-position:-160px -80px}
.oneclick_prd .oc_txt.cate09:before{background-position:-240px -80px}
.oneclick_prd .oc_txt.cate10:before{background-position:-320px -80px}
.oneclick_prd .oc_txt.cate11:before,
.oneclick_prd .oc_txt.cate12:before,
.oneclick_prd .oc_txt.cate13:before,
.oneclick_prd .oc_txt.cate14:before{background:url('/upload/PRODUCT/web/oneclick/bg_oneclick_vew2.png') no-repeat}
.oneclick_prd .oc_txt.cate12:before{background-position:-80px 0}
.oneclick_prd .oc_txt.cate13:before{background-position:-160px 0}
.oneclick_prd .oc_txt.cate14:before{background-position:-240px 0}

.oneclick_prd .oc_box{width:342px;margin:30px auto 0;padding:42px 0 0;background:#fff;box-sizing:border-box;text-align:center}
.oc_box .oc_cate{display:block;color:#222;font-size:36px;font-weight:bold}
.oc_box .oc_prd{display:block;margin:8px 0 35px;color:#222;font-size:14px;font-weight:normal;line-height:1.3}
.oc_box .oc_txt{display:block;min-height:84px;margin:0 0 15px;color:#222;font-size:20px;line-height:1.4}
.oc_box .oc_price{float:left;width:100%;padding:0 30px;background-color:#feff4b;box-sizing:border-box;color:#222;font-size:18px;font-weight:bold;text-align:left;line-height:56px;overflow:hidden}
.oc_box .oc_price em{float:right;color:#008bec;font-size:30px;font-weight:bold}
.oc_box .oc_price em .oc_num{display:inline-block;margin-right:5px}
.oc_box .oc_list:after,
.oc_box .oc_price:after{content:"";clear:both;display:block}

.oc_box .oc_list{padding:10px 30px;overflow:hidden}
.oc_box .oc_list>li{position:relative;padding:8px 0;border-bottom:1px solid #e4e4e4;text-align:left;color:#222;font-size:17px}
.oc_box .oc_list>li:before{position:absolute;top:18px;left:0;content:"";display:inline-block;width:4px;height:4px;background-color:#008bec;border-radius:100%;box-sizing:border-box}
.oc_box .oc_list>li .oc_list_tit{padding-left:12px;}
.oc_box .oc_list>li.inlist{min-height:230px;border-bottom:0}
.oc_box .oc_list>li>em{float:right;color:#444}
.oc_box .oc_list>li .oc_list2{padding:3px 10px 0 0;color:#767676;font-size:14px}
.oc_box .oc_list>li .oc_list2:first-of-type{margin-top:8px;padding-top:8px;border-top:1px solid #e4e4e4}
.oc_box .oc_list>li .oc_list2:before{content:'ㄴ';margin-right:5px;color:#666;font-size:12px}
.oc_box .oc_inner_list{min-height:140px;margin-left:3px;margin-top:5px}
.oc_box .oc_inner_list li{margin-left:10px;text-indent:-10px}
.oc_box .btn_oc_box1{display:block;margin:0 30px 25px;padding:7px 0;border:1px solid #d1d1d1;color:#666;font-size:16px;}
.oc_box .btn_oc_box2{display:block;padding:18px 0;background-color:#018bed;color:#fff;font-size:23px;font-weight:500}
.oc_box .btn_oc_box2 span{padding-right:28px;background:url('ico_w_arrow.png') 99% 8px no-repeat;background-size:auto 20px}
.oc_banner{width:1100px;margin:60px auto 30px;padding:36px 0 36px 370px;background:#fff url('/upload/PRODUCT/web/oneclick/ico_bnr_tel.png') 200px 28px no-repeat;box-sizing:border-box;color:#222;font-size:22px}
.oc_banner .tel_num{color:#008bec;font-size:41px;font-weight:bold}

/* 레이어팝업: 보장 다시 선택 */
.g_layer_box.ly_re_select{display:none}
.g_layer_box.ly_re_select .inner{width:420px;margin:-130px auto;top:50%;padding-bottom:30px;border:0;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.g_layer_box.ly_re_select .layer_head .layer_tit{background-color:#008bec}
.g_layer_box.ly_re_select .layer_cont{overflow-y:auto;height:150px;padding:16px 20px 0;line-height:22px;text-align:center}
.g_layer_box.ly_re_select .layer_cont p{color:#222;font-size:21px}
.g_layer_box.ly_re_select .g_btn_01{margin:0 3px;background-color:#008bec;border-radius:0}
.g_layer_box.ly_re_select .g_btn_02{margin:0 3px;border-radius:0}

/* keyword search */
.oneclick_tab{margin-top:50px}
.oneclick_tab li{position:relative;width:50%}
.oneclick_tab li a{display:block;width:100%;height:240px;padding-top:0;border:0;background-color:#dbf0ff}
.oneclick_tab li.on a{background-color:#dbf0ff}
.oneclick_tab li.on a:after{display:none}
.oneclick_tab .tab_tit{position:absolute;display:inline-block;width:150px;height:150px;padding-top:30px;background-color:#008bec;border-radius:100%;box-sizing:border-box;color:#fff;font-size:20px;text-align:center}
.oneclick_tab .tab_txt{display:none;position:absolute;top:60px;padding:0 10px;box-sizing:border-box;font-size:20px}
.oneclick_tab .oneclick_tab01 .tab_tit{top:30px;right:-10px;z-index:1}
.oneclick_tab .oneclick_tab01 .tab_txt{left:140px}
.oneclick_tab .oneclick_tab01.on .tab_tit{top:10px;padding-top:40px}
.oneclick_tab .oneclick_tab01.on .tab_txt{display:block}
.oneclick_tab .oneclick_tab02 .tab_tit{top:30px;left:-10px;padding-top:40px}
.oneclick_tab .oneclick_tab02 .tab_txt{left:200px}
.oneclick_tab .oneclick_tab02.on .tab_tit{top:0;z-index:1;padding-top:60px}
.oneclick_tab .oneclick_tab02.on .tab_txt{display:block}
.oneclick_tab li.on .tab_tit{width:200px;height:200px;background-color:#13c6ff;font-size:27px}

.oneclick_cont .tab_here{width:60px;margin:0 auto}
.oneclick_cont .tab_here em{position:relative;display:inline-block;width:30px;height:10px;background-color:#aaa;border-radius:5px;text-align:center}
.oneclick_cont .tab_here span{display:inline-block;height:0;width:0;text-indent:-99999em}
.oneclick_cont .tab_here em:after{position:absolute;left:35px;top:0;content:"";display:inline-block;width:20px;height:10px;background-color:#f3f3f3;border-radius:5px;}
.oneclick_cont .keyword_cont02 .tab_here em{width:20px;background-color:#f3f3f3}
.oneclick_cont .keyword_cont02 .tab_here em:after{left:25px;width:30px;background-color:#aaa}

/* .oneclick_cont .keyword_cont01,
.oneclick_cont .keyword_cont02{outline-color:transparent} */
.oneclick_cont .keyword_cont02{display:none}

.oneclick_cont .keyword_cont01 .step_box_wrap,
.oneclick_cont .keyword_cont02 .keyword_search_box{margin-top:80px}

.oneclick_cont .keyword_search .keyword_search_con,
.oneclick_cont .keyword_search .confirm{width:1100px;padding:20px 270px;background-color:#fff;box-sizing:border-box}

.oneclick_cont .keyword_search .confirm{margin:0 0 80px;border:1px solid #e3e3e3}
.oneclick_cont .keyword_search .confirm:after{content:"";clear:both;display:block}
.oneclick_cont .keyword_search .confirm_txt{float:left;margin-top:15px;font-size:18px}
.oneclick_cont .keyword_search .confirm_txt strong{font-size:24px} 
.oneclick_cont .keyword_search .confirm_txt .num{color:#008bec;font-size:24px;font-weight:bold}
.oneclick_cont .keyword_search .confirm .btn_oneclick01{float:right;padding:10px 24px}

.oneclick_cont .keyword_search_box{padding:24px 0;background-color:#f3f3f3;text-align:center}
.oneclick_cont .keyword_search_box .g_txt{display:inline-block;margin-left:15px;font-size:24px;vertical-align:middle}
.oneclick_cont .keyword_search_box .g_select_box{height:36px}
.oneclick_cont .keyword_search_box .g_select_box .g_select{height:36px;font-size:21px}

.oneclick_cont .keyword_search .btn_wrap_right{padding:20px 280px;background-color:#fff;box-sizing:border-box}
.oneclick_cont .btn_search_clear{padding:5px;border:0;border-color:#fff;border:1px solid #aaa;background-color:#fff;font-size:16px}

.oneclick_cont .keyword_search .input_lb{width:202px}
.oneclick_cont .keyword_search .input_lb label{width:auto}
.oneclick_cont .keyword_search .rd_wrap{display:inline-block;margin-bottom:15px}
.oneclick_cont .keyword_search .inp_wrap{margin-bottom:15px}
.oneclick_cont .keyword_search .inp_wrap .g_input_01{padding:0 10px;font-size:20px;text-align:center}
.oneclick_cont .keyword_search .inp_wrap .g_input_01[type="number"]{padding:0}
.oneclick_cont .keyword_search .rd_wrap .input_lb{line-height:48px}
.oneclick_cont .keyword_search .rd_wrap .gender{width:80px;height:56px;margin-right:0;background:none;border:1px solid #bfbfbf;color:#222;font-size:20px}
.oneclick_cont .keyword_search .rd_wrap .gender.male{margin-right:0;margin-left:5px}
.oneclick_cont .keyword_search .rd_wrap .gender.female{margin-left:-4px}
.oneclick_cont .keyword_search .rd_wrap .gender.chked{background-color:#008bec;border:1px solid #008bec;color:#fff}
.oneclick_cont .keyword_search .rd_wrap .gender.chked:after{display:none}
.oneclick_cont .keyword_search .day_wrap .g_input_01,
.oneclick_cont .keyword_search .tel_wrap .g_input_01{width:348px}

/* 레이어팝업 */
.g_layer_box.ly_prdcont{display:none;border:0;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.g_layer_box.ly_prdcont .inner{width:1080px;margin:-320px auto;top:50%;border:0}
.g_layer_box.ly_prdcont .layer_cont{height:500px;padding:30px 40px}
.g_layer_box.ly_prdcont .layer_head .layer_tit{background-color:#008bec;font-size:23px}
.g_layer_box.ly_prdcont .g_btn_01{background-color:#008bec;border-radius:0}

.g_layer_box.ly_prdcont .prd_msg_01{float:right;width:100%;margin-bottom:12px;color:#767676;text-align:right;font-size:14px;}
.g_layer_box.ly_prdcont .prd_msg_01 span{float:left;margin-top:-5px;color:#004286;font-size:18px;font-weight:bold}
.g_layer_box.ly_prdcont .prd_msg_02{margin-top:10px;color:#767676;font-size:14px;line-height:22px}
.g_layer_box.ly_prdcont .prd_msg_02 .notice{display:inline-block;width:23px;height:23px;margin-right:10px;background-color:#008bec;color:#fff;text-align:center}
.g_layer_box.ly_prdcont .h_title_04{margin-top:55px}
.g_layer_box.ly_prdcont .g_title_04{margin-top:55px;margin-bottom:20px;padding:0;color:#222;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif;font-size:20px;letter-spacing:-0.03em}
.g_layer_box.ly_prdcont .h_title_04.mt55:first-of-type,
.g_layer_box.ly_prdcont .g_title_04.mt55:first-of-type,
.g_layer_box.ly_prdcont .h_title_04:first-of-type,
.g_layer_box.ly_prdcont .g_title_04:first-of-type{margin-top:0 !important}
.g_layer_box.ly_prdcont .g_title_04:before{display:none}
.g_layer_box.ly_prdcont table.w100{width:100%}
.g_layer_box.ly_prdcont table.g_table_03{width:100%;border-top:2px solid #222;border-bottom:1px solid #666}
.g_layer_box.ly_prdcont table.g_table_03 th{padding:10px;color:#222;font-size:16px}
.g_layer_box.ly_prdcont table.g_table_03 td{padding:10px;color:#222;font-size:15px}
.g_layer_box.ly_prdcont table.g_table_03 td span{color:#767676}
.g_layer_box.ly_prdcont table + .prd_notice{padding-left:34px}
.g_layer_box.ly_prdcont .prd_notice .tit{width:23px;height:23px;background:url('../images/product/bg_icon_notice.jpg') 0 0 no-repeat}
.g_layer_box.ly_prdcont .pn_list li{text-indent:-13px;padding-left:13px;color:#767676;font-size:14px;line-height:22px}
.g_layer_box.ly_prdcont table.g_table_03 thead th,
.g_layer_box.ly_prdcont thead th{background-color:#fff;border-left:1px solid #dfdfdf;border-bottom:1px solid #666;text-align:center}
.g_layer_box.ly_prdcont table.g_table_03 thead th:first-child,
.g_layer_box.ly_prdcont thead th:first-child{border-left:0}
.g_layer_box.ly_prdcont table.g_table_03 tbody tr:first-of-type td,
.g_layer_box.ly_prdcont table.g_table_03 tbody tr:first-of-type th,
.g_layer_box.ly_prdcont tbody tr:first-of-type td,
.g_layer_box.ly_prdcont tbody tr:first-of-type th{border-top:0}
.g_layer_box.ly_prdcont table.g_table_03 tbody th,
.g_layer_box.ly_prdcont tbody th{background-color:#fff;color:#008bec;text-align:center;border-top:1px solid #dfdfdf}
.g_layer_box.ly_prdcont table.g_table_03 tbody th.td,
.g_layer_box.ly_prdcont tbody th.td{color:#222;font-weight:normal}
.g_layer_box.ly_prdcont tbody td{border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf}
.g_layer_box.ly_prdcont tbody td:first-child{border-left:0}
.g_layer_box.ly_prdcont tbody td.bdl{border-left:1px solid #dfdfdf}
.g_layer_box.ly_prdcont tbody td.tac{text-align:center}
.g_layer_box.ly_prdcont tbody .bg{background-color:#f5f5f5}
.g_layer_box.ly_prdcont table.g_table_03 tbody td.point,
.g_layer_box.ly_prdcont tbody td.point{color:#008bec;text-align:right}
.g_layer_box.ly_prdcont .g_define_01 dt{color:#008bec}

/* 키워드 검색 */
.oneclick_cont.keyword_cont{background-color:#f9f9f9}
.oneclick_cont.keyword_cont .h3_tit span{padding-left:114px;background:url('/upload/PRODUCT/web/oneclick/ioc_oc_top2.png') 0 50% no-repeat}
.oneclick_cont.keyword_cont .tit_txt{height:auto;font-size:22px;color:#555;padding:8px 0 24px}
.oneclick_cont.keyword_cont .step_text{display:none}
.oneclick_cont.keyword_cont .step_box_wrap{box-shadow:none}
.oneclick_cont.keyword_cont .step_box{padding:0;height:auto;background-color:transparent}
.oneclick_cont.keyword_cont .step_box .step_con{padding:0 150px 37px}
.oneclick_cont.keyword_cont .oc_input_box{width:999px;padding:30px 0 5px 136px;margin:0 auto;background-color:#fff;box-shadow:8px 0 10px rgba(0,0,0,.06);box-sizing:border-box}
.oneclick_cont.keyword_cont .tel_area{top:72px}

.oc_keyword_list:after{content:"";display:block;clear:both}
.oc_keyword_list li{float:left;margin-right:30px;margin-top:18px}
.oc_keyword_list button{padding:7px 14px;min-height:40px;background-color:#fff;box-shadow:8px 0 10px rgba(0,0,0,.06);border:0;border-radius:5px;box-sizing:border-box;font-size:17px;font-weight:400}
.oc_keyword_list button span b{display:inline-block;width:14px;padding-right:1px;box-sizing:border-box;text-align:right}
.oc_keyword_list button.age span b,
.oc_keyword_list button.first span b{width:20px}
.oc_keyword_list button.best span b{width:26px}
.oc_keyword_list button.on{padding:7px 12px 7px 30px;background:#008bec url('/upload/PRODUCT/web/oneclick/bg_check.png') 14px 50% no-repeat;background-size:14px 16px;color:#fff}
.oc_keyword_list button.on span b{display:none}
.oc_keyword_list button.on span{color:#fff}
.oc_keyword_list button.all{font-size:17px;font-weight:600}
.oc_keyword_list button.point{font-size:17px;font-weight:600}
.oc_keyword_list button.best{color:#008bec;font-size:46px;font-weight:600}
.oc_keyword_list button.first{height:58px;color:#008bec;font-size:30px;font-weight:600}
.oc_keyword_list button.age{height:58px;color:#008bec;font-size:30px;font-weight:600}
.oc_keyword_list button.first.on,
.oc_keyword_list button.age.on{padding:7px 14px 7px 34px;background-size:16px 18px}
.oc_keyword_list button.best.on{padding:7px 14px 7px 40px;background-size:20px 22px}

.oc_keyword_list li:first-child{margin-left:124px}
.oc_keyword_list li:nth-child(3){margin-top:0}
.oc_keyword_list li:nth-child(9){margin-right:0}
.oc_keyword_list li:nth-child(10){margin-left:12px}
.oc_keyword_list li:nth-child(14){margin-right:0}
.oc_keyword_list li:nth-child(15){margin-left:20px;margin-top:0}
.oc_keyword_list li:nth-child(16){margin-top:0}
.oc_keyword_list li:nth-child(17){margin-top:0}
.oc_keyword_list li:nth-child(19){margin-top:0}
.oc_keyword_list li:last-child{margin-left:80px;margin-top:-40px}

.oneclick_cont.keyword_cont .input_lb{width:100px;padding-left:0}
.oneclick_cont.keyword_cont input.g_input_01{width:260px}

.oneclick_cont.keyword_cont .inp_wrap{display:inline-block;width:370px}
.oneclick_cont.keyword_cont .name_wrap,
.oneclick_cont.keyword_cont .gender_wrap{display:inline-block;width:356px}
.oneclick_cont.keyword_cont .name_wrap .input_lb, 
.oneclick_cont.keyword_cont .gender_wrap .input_lb{width:54px;padding-left:0}
.oneclick_cont.keyword_cont .rd_wrap .gender{width:130px}

.oneclick_cont_02 .oneclick_cont_box p.kwd_area{position:relative;min-height:90px;margin-bottom:0;font-size:17px;color:#666;}
.oneclick_cont_02 .oneclick_cont_box p.kwd_area strong{font-size:26px;color:#008bec}
.oneclick_cont_02 .oneclick_cont_box p.kwd_area:after{position:absolute;top:-10px;right:-160px;content:"";display:inline-block;width:114px;height:100px;background:url('/upload/PRODUCT/web/oneclick/bg_ico_kwd.png') no-repeat}
.oneclick_cont_02 .oneclick_cont_box p.kwd_area.kwd_01:after{background-position:0 0}

.ly_amend .inner{width:630px;top:12%;margin:0 auto;border:0;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.ly_amend .layer_head .layer_tit{background-color:#008bec;font-size:23px}
.ly_amend .layer_cont{height:600px;padding:40px 40px 30px;box-sizing:border-box;font-size:18px;letter-spacing:-1px}
.ly_amend .g_btn_01{background-color:#008bec}

.ly_amend .amend_area{position:relative;padding-top:90px;text-align:center}
.ly_amend .amend_area:before{position:absolute;top:0;left:50%;margin-left:-52px;content:"";display:inline-block;width:104px;height:68px;background:url(/upload/PRODUCT/web/oneclick/wbg_ico_amend.png) no-repeat;background-position:-30px 0}
.ly_amend .amend_area .txt_s{display:block;margin-top:2px;color:#666;font-size:13px;font-weight:300}
.ly_amend .amend_area p{margin-bottom:25px;font-size:23px;line-height:1.4}
.ly_amend .amend_area table{width:100%;margin-top:15px;font-size:16px}
.ly_amend .amend_area table thead th{padding:7px 15px;background-color:#004286;border:1px solid #004286;color:#fff;font-weight:400}
.ly_amend .amend_area table thead th:first-child{background-color:#a1a1a1;border:1px solid #a1a1a1}
.ly_amend .amend_area table tbody td{padding:12px 10px 20px 15px;border-right:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;box-sizing:border-box;color:#222;text-align:left}
.ly_amend .amend_area table tbody td:first-child{color:#656565;border-left:1px solid #bfbfbf}

.bnr_attraction{position:relative;top:60px;z-index:2;display:inline-block;padding:2px 20px 4px 3px;background-color:#004286;border-radius:3px;box-sizing:border-box;color:#fff;letter-spacing:-1px;text-align:left}
.bnr_attraction:after{position:absolute;right:5px;top:50%;margin-top:-8px;content:"";display:inline-block;width:24px;height:16px;background:url(/upload/PRODUCT/web/oneclick/wbg_ico_amend.png) no-repeat;background-position:0 -30px}
.bnr_attraction .rolling_list{width:440px;height:32px;overflow:hidden}
.bnr_attraction + .oneclick_swiper .oneclick_prd{margin-top:95px}
.btn_amend{width:100%;height:32px;border:0;background-color:transparent;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.btn_amend span{position:relative;display:block;padding-left:30px;font-size:15px;font-weight:400;color:#fff;text-align:left;letter-spacing:-1px}
.btn_amend span:before{position:absolute;left:5px;top:50%;margin-top:-12px;content:"";display:inline-block;width:24px;height:24px;background:url(/upload/PRODUCT/web/oneclick/wbg_ico_amend.png) no-repeat}
.btn_amend em{color:#fdff4b}

/* 202006 보험료 간편조회 서비스 개선*/
.oneclick_cont .icon_box_wrap .step_text{margin-bottom:15px;text-align:left;padding-left:10px}
.oneclick_cont .icon_box_wrap .step_box{padding:1px 30px 1px}
.oneclick_cont .icon_box_wrap .oc_product_list li{width:20%;text-align:center}
.oneclick_cont .icon_box_wrap .oc_product_list li button{width:185px;height:165px;border:1px solid #d1d1d1;border-radius:15px;box-sizing:border-box;/* outline-color:transparent */}
.oneclick_cont .icon_box_wrap .oc_product_list li.on button{border:5px solid #13c6ff;box-sizing:border-box;}
.oneclick_cont .icon_box_wrap .oc_product_list li button span{position:relative;display:block;width:175px;height:33px;margin:0 auto;padding-top:0;padding-left:0;color:#212121;font-size:22px;letter-spacing:-1px}
.oneclick_cont .icon_box_wrap .oc_product_list li button span:before{position:absolute;top:-12px;left:10px;content:"";display:inline-block;width:18px;height:18px;margin-left:0;background-image:none;border:1px solid #d9d9d9;border-radius:3px}
.oneclick_cont .icon_box_wrap .oc_product_list li button em{position:relative;display:block;padding-top:60px;color:#666;font-size:16px;font-weight:300}
.oneclick_cont .icon_box_wrap .oc_product_list li button em b{display:block;font-weight:500}
.oneclick_cont .icon_box_wrap .oc_product_list li button em:before{position:absolute;top:0;left:50%;content:"";display:inline-block;width:46px;height:20px;margin-left:-23px;}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon01 button em:before{background-position:0 0}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon02 button em:before{background-position:-60px 0;width:54px;margin-left:-24px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon03 button em:before{background-position:-120px 0;width:56px;margin-left:-28px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon04 button em:before{background-position:-180px 0;width:56px;margin-left:-28px;top:4px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon05 button em:before{background-position:-240px 0;width:54px;margin-left:-27px;top:3px}
.oneclick_cont .icon_box_wrap .oc_product_list li.on button span:after{position:absolute;top:-15px;left:10px;width:24px;height:24px;margin-left:0;background:url(/img/bg_ico_oneclick2.png) no-repeat -40px -60px}

.oneclick_cont .icon_box_wrap .inp_wrap:first-of-type,
.oneclick_cont .icon_box_wrap .gender_wrap{padding-left:90px}

.oneclick_cont .txt_wrap{width:724px;margin:0 auto}
.oneclick_cont .txt_wrap>strong{float:left;width:350px;color:#333;font-size:16px}
.oneclick_cont .txt_wrap ul li{float:left;width:350px;position:relative;margin-top:7px;padding-left:8px;box-sizing:border-box;color:#757575;font-size:14px;font-weight:300;letter-spacing:-0.05em}
.oneclick_cont .txt_wrap ul li:nth-child(2n-1){width:374px}
.oneclick_cont .txt_wrap ul li:before{position:absolute;left:0;top:50%;margin-top:-2px;content:"";display:inline-block;width:3px;height:3px;background-color:#757575;border-radius:100%;box-sizing:border-box}
.oneclick_cont .txt_wrap:after{content:"";clear:both;display:block;}

.oneclick_cont .icon_box_wrap .oc_product_list li button .under{position:relative;display:inline-block;font-style:normal;z-index:0}
.oneclick_cont .icon_box_wrap .oc_product_list li button .under:after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:8px;background-color:#fff669;z-index:-1}


html, body, nav, li, ul {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    height: 100%;
    font-size: 12px;
    color: #666666;
}
a:focus {outline:none;}
a:link {
    color: #3a3232;
    text-decoration: none;
}
a:hover, a:visited, a:active {
    color: #ea0530;
    text-decoration: none;
}
ul, li {list-style: none;}
.wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    font-size: 12px;
}
.header {
    height: 90px;
    background: #1e88e5;
    -webkit-box-shadow: 0 2px 0 #dde0e4;
    -mox-box-shadow: 0 2px 0 #dde0e4;
    -o-box-shadow: 0 2px 0 #dde0e4;
    box-shadow: 0 2px 0 #dde0e4;
}
.logo {
    float: left;
    position: relative;
    left: 16px;
    color: coral;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    line-height: 45px;
}
.logo {
    float: left;
    position: relative;
    color: coral;
    font-size:20px;
}
.topmenu {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.topmenu li {
    float: left;
}
.topmenu li a {
    display: block;
    padding: 0 36px;
    color: #131212;
    font-size: 23px;
    line-height: 50px;
}
.topmenu li.selected {
    border-bottom: 2px solid #ea0530;
}
.topmenu li.selected a,
.topmenu li a:hover {color : #ea0530;}
.container {
    display: table;
    width: 100%;
    height: calc(100% - 50px);
}
.contents-wrap {
    display: table-cell;
    vertical-align: top;
}
.contents-box {
    position: relative;
    /*margin: 15px;*/
    padding: 10px 0 10px 0;
    min-height: 800px;
}
.contents-area {
    padding: 0 20px;
}
.title {
    display: inline-block;
    font-size: 20px;
    color: #222222;
    font-weight: normal;
    margin-bottom: 0px;
}
.title-line {
    border-top: 2px solid #222222;
}
.btn-wrap {margin-top: 10px; line-height: 30px;}
.btn-wrap .btn-left {float: left;}
.btn-wrap .btn-right {float: right;}
.Table {
    border-collapse: collapse;
    font-size: 12px;
    color: #303030;
    border: 1px solid #e2e4e7;
    width: 100%;
    margin-top: 5px;
}
.Table th {
    background: #cccccc;
    border: 1px solid #444444;
    height: 35px;
    font-weight: bold;
    font-size: 12px;
}
.Table td {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #cccccc;
    font-size: 12px;
    height: 30px;
    font-weight: normal;
    font-size: 12px;
}
.Table tbody {
    border-top: 2px solid #444444;
}
.Button {
    border: 1px solid #cccccc;
    background: #eeeeee;
    color: #666666;
    padding: 1 15px;
    min-width: 72px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
/*.Button:hover,
.Button:active {
    border: 1px solid #cccccc;
    background: #eeeeee;
}*/
.Button.bg-red {
    border: 1px solid #ea0530;
    background: #BD1E59;
    color: #ffffff;
}
.Button.bg-red:hover,
.Button.bg-red:active {
    border: 1px solid #d72340;
    background: #d72340;
}
.Button.bg-gray {
    border: 1px solid #999999;
    background: #999999;
    color: #ffffff;
}
.Button.bg-gray:hover,
.Button.bg-gray:active {
    border: 1px solid #777777;
    background: #666666;
}
.popup-wrap {
    width: 100%;
    border: 0;
}
.Textinput {
    height: 26px;
    padding: 0 10px;
    line-height: 26px;
    width: 90%;
}

._o6689fn {
    -webkit-box-align: center !important;
    outline: none !important;
    align-items: center !important;
    display: inline-flex !important;
    height: 80px !important;
    position: relative !important;
    vertical-align: middle !important;
    z-index: 1 !important;
    color: rgb(255, 56, 92) !important;
	font-size:40px;
}
._9qqdp4 {
    text-align: center !important;
    color: #FF385C !important;