.gray-background {
  background: darkgray;
}
a:focus {outline:none;}
a:link {
    text-decoration: none;
}
a:hover, a:visited, a:active {
    text-decoration: none;
}

.oneclick h2, .oneclick input, .oneclick button, .oneclick input, .oneclick select, .oneclick textarea,
.oneclick{font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
 
.oneclick_cont{background-color:#dbf0ff}
.oneclick_cont .inner{position:relative;width:1000px;margin:0 auto;padding:10px 0 10px}
.oneclick_cont .h3_tit{height:30px;padding-top:5px;box-sizing:border-box;font-size:25px;text-align:center;font-family:'Noto Sans','맑은고딕',Malgun Gothic,Dotum,'돋움',sans-serif}
.oneclick_cont .tit_txt{height:90px;padding:10px 0 55px;box-sizing:border-box;color:#333;font-size:26px;font-weight:300;text-align:center}
.oneclick_cont .ico_plus{display:inline-block;width:22px;height:22px;line-height:22px;background-color:#fff;border-radius:100%;font-size:25px;text-align:center}
.oneclick_cont .tel_area{position:absolute;right:-150px;top:227px;width:117px;height:372px;background:#fff;text-align:center;letter-spacing:-1px}
.oneclick_cont .tel_area .tel_box{display:block;height:439px;padding:30px 0;background-color:#fff;box-shadow:4px 0 12px rgba(0,0,0,.14);box-sizing:border-box;color:#222;text-decoration:none;font-size:16px}
.oneclick_cont .tel_area .tel_box>em{position:relative;display:inline-block;height:25px;font-size:17px;font-weight:bold;line-height:23px}
.oneclick_cont .tel_area .tel_box>span{display:block;margin:15px 0;color:#022222;font-weight:300;line-height:1.6}
.oneclick_cont .tel_area .tel_box > .tel{margin-top:5px;color:#008bec;font-weight:bold;font-size:32px;line-height:28px}

.oneclick_cont .step_box_wrap{box-shadow:8px 0 10px rgba(0,0,0,.06)}
.oneclick_cont .step_box_wrap:after{content:"";display:block;clear:both}
.oneclick_cont .step_box{position:relative;float:left;width:100%;min-height:239px;height:auto;padding:20px 58px 26px;background-color:#fff;color:#666;box-sizing:border-box}
.oneclick_cont .step_box:first-child{margin-left:0}

.oneclick_cont .step_num{font-size:27px}
.oneclick_cont .step_text{margin-bottom:30px;color:#222;font-size:26px;text-align:left}
.oneclick_cont .step_box .step_text strong{font-weight:bold}
.oneclick_cont .step_box .step_text span{color:#747474;font-weight:300;font-size:24px}

.oneclick_cont .oc_product_list{padding-bottom:25px}
.oneclick_cont .oc_product_list:after{content:"";clear:both;display:block}
.oneclick_cont .oc_product_list li{float:left;width:14.2857%}
.oneclick_cont .oc_product_list li.list_finish{width:100%}
.oneclick_cont .oc_product_list li button{width:100%;height:100px;background-color:transparent;border:0;box-sizing:border-box;color:#222;font-size:18px;line-height:21px;font-weight:normal;text-align:center}
.oneclick_cont .oc_product_list li button.on{color:#fff}
.oneclick_cont .oc_product_list li button span{position:relative;display:block;padding-top:68px;height:140px;box-sizing:border-box}
.oneclick_cont .oc_product_list li.list_finish{margin-top:10px}
.oneclick_cont .oc_product_list li.list_finish button{border:1px solid #fff}
.oneclick_cont .oc_product_list li.list_finish span{padding-top:0}
.oneclick_cont .step_box .oc_product_list li button span:before{content:"";display:inline-block;position:absolute;left:50%;margin-left:-41.5px;top:5px;width:83px;height:53px;background:url('./static/images/bg_ico_oneclick2.png') no-repeat;box-sizing:border-box}
.oneclick_cont .step_box .oc_product_list li.list_all button span:before{background-position:0 0}
.oneclick_cont .step_box .oc_product_list li.list01 button span:before{background-position:-85px 0}
.oneclick_cont .step_box .oc_product_list li.list02 button span:before{background-position:-170px 0}
.oneclick_cont .step_box .oc_product_list li.list03 button span:before{background-position:-255px 0}
.oneclick_cont .step_box .oc_product_list li.list04 button span:before{background-position:0 -85px}
.oneclick_cont .step_box .oc_product_list li.list05 button span:before{background-position:-85px -85px}
.oneclick_cont .step_box .oc_product_list li.list06 button span:before{background-position:-170px -85px}
.oneclick_cont .step_box .oc_product_list li.list_finish button span:before{display:none}

.oneclick_cont .step_box .oc_product_list li.list_finish{display:none}
.oneclick_cont .step_box.active .oc_product_list li.list_finish{display:block}
.oneclick_cont .oc_product_list li.on button span:after{content:"";display:inline-block;position:absolute;left:50%;margin-left:-41.5px;top:5px;width:83px;height:83px;background-color:rgba(255,255,255,0.2);background-image:url('./static/images/bg_chked.png');background-position:50% 50%;background-repeat:no-repeat;border:1px solid transparent;border-radius:100%;box-sizing:border-box}
.oneclick_cont .step_box .list_finish{display:none}
.oneclick_cont .list_finish{margin-top:5px}
.oneclick_cont .list_finish button{width:100%;height:43px;padding:0;line-height:43px;background-color:#008bec;border:1px solid #fff;color:#fff}
.oneclick_cont .list_finish .ico_slt span{display:inline-block;height:41px;padding-left:20px;}
.oneclick_cont .list_finish button span:before{display:none} 
.oneclick_cont .list_finish.on button span:after,
.oneclick_cont .list_finish button span:after{display:none}

.oneclick_cont .step_box02 .step_con,
.oneclick_cont .step_box03 .step_con{padding-top:54px}

.oneclick_cont .rd_wrap,
.oneclick_cont .inp_wrap{margin-bottom:20px;display:inline-block;vertical-align:top}
.oneclick_cont .input_lb{display:inline-block;width:130px;padding-left:30px;box-sizing:border-box;color:#222;font-size:20px;font-weight:bold;line-height:48px;vertical-align:top}
.oneclick_cont .name_wrap .input_lb,
.oneclick_cont .gender_wrap .input_lb{width:124px;padding-left:70px;vertical-align:top}
.oneclick_cont .name_wrap .input_area,
.oneclick_cont .gender_wrap .input_area{display:inline-block;width:264px}
.oneclick_cont .rd_wrap .gender{float:left;width:132px;height:48px;margin-right:0;background-color:#fff;border:1px solid #bfbfbf;box-sizing:border-box;color:#222;font-size:20px}
.oneclick_cont .rd_wrap .gender:after{content:"";display:block;clear:both}
.oneclick_cont .rd_wrap .gender.female{border-left:0 none}
.oneclick_cont .rd_wrap .gender.chked{background-color:#008bec;border:1px solid #008bec;color:#fff}
.oneclick_cont .step_box input.g_input_01{width:264px;height:48px;line-height:48px;padding-left:20px;border:1px solid #bfbfbf;box-sizing:border-box;text-align:left;font-size:20px}

#container.oneclick .oneclick_cont input:-ms-input-placeholder{color:#a9a9a9}
#container.oneclick .oneclick_cont input:-moz-input-placeholder{color:#a9a9a9}
#container.oneclick .oneclick_cont input::-webkit-input-placeholder{color:#a9a9a9}

.oneclick_cont .confirm:before{content:"";clear:both;display:block}
.oneclick_cont .confirm{width:724px;margin:30px auto 40px}
.oneclick_cont .confirm .btn_oneclick01{display:block;margin-bottom:30px;padding:7px 0;background-color:#df5156;box-shadow:5px 0 10px rgba(0,0,0,.14);text-align:center;color:#fff;font-size:28px}
.oneclick_cont .confirm .btn_oneclick01 span{position:relative;padding-right:42px;}

.oneclick_cont .confirm .btn_oneclick02{float:right;padding:10px 30px;background-color:#008bec;text-align:center;color:#fff;font-size:18px}
.oneclick_cont .confirm a:hover{text-decoration:none}
.oneclick_cont .confirm a span em{color:#fffd3b;font-weight:bold}


.oneclick_cont .icon_box_wrap .step_text{margin-bottom:15px;text-align:left;padding-left:50px}
.oneclick_cont .icon_box_wrap .step_box{padding:5px 30px 3px 3px}
.oneclick_cont .icon_box_wrap .oc_product_list li{width:20%;text-align:center}
.oneclick_cont .icon_box_wrap .oc_product_list li button{width:185px;height:165px;border:1px solid #d1d1d1;border-radius:15px;box-sizing:border-box;/* outline-color:transparent */}
.oneclick_cont .icon_box_wrap .oc_product_list li.on button{border:5px solid #13c6ff;box-sizing:border-box;}
.oneclick_cont .icon_box_wrap .oc_product_list li button span{position:relative;display:block;width:175px;height:33px;margin:0 auto;padding-top:0;padding-left:0;color:#212121;font-size:22px;letter-spacing:-1px}
.oneclick_cont .icon_box_wrap .oc_product_list li button span:before{position:absolute;top:-12px;left:10px;content:"";display:inline-block;width:18px;height:18px;margin-left:0;background-image:none;border:1px solid #d9d9d9;border-radius:3px}
.oneclick_cont .icon_box_wrap .oc_product_list li button em{position:relative;display:block;padding-top:60px;color:#666;font-size:16px;font-weight:300}
.oneclick_cont .icon_box_wrap .oc_product_list li button em b{display:block;font-weight:500}
.oneclick_cont .icon_box_wrap .oc_product_list li button em:before{position:absolute;top:0;left:50%;content:"";display:inline-block;width:46px;height:20px;margin-left:-23px;}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon01 button em:before{background-position:0 0}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon02 button em:before{background-position:-60px 0;width:54px;margin-left:-24px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon03 button em:before{background-position:-120px 0;width:56px;margin-left:-28px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon04 button em:before{background-position:-180px 0;width:56px;margin-left:-28px;top:4px}
.oneclick_cont .icon_box_wrap .oc_product_list li.icon05 button em:before{background-position:-240px 0;width:54px;margin-left:-27px;top:3px}
.oneclick_cont .icon_box_wrap .oc_product_list li.on button span:after{position:absolute;top:-15px;left:10px;width:24px;height:24px;margin-left:0;background:url('./static/images/bg_ico_oneclick2.png') no-repeat -40px -60px}

.oneclick_cont .icon_box_wrap .inp_wrap:first-of-type,
.oneclick_cont .icon_box_wrap .gender_wrap{padding-left:90px}

.oneclick_cont .txt_wrap{width:724px;margin:0 auto}
.oneclick_cont .txt_wrap>strong{float:left;width:350px;color:#333;font-size:16px}
.oneclick_cont .txt_wrap ul li{float:left;width:350px;position:relative;margin-top:7px;padding-left:8px;box-sizing:border-box;color:#757575;font-size:14px;font-weight:300;letter-spacing:-0.05em}
.oneclick_cont .txt_wrap ul li:nth-child(2n-1){width:374px}
.oneclick_cont .txt_wrap ul li:before{position:absolute;left:0;top:50%;margin-top:-2px;content:"";display:inline-block;width:3px;height:3px;background-color:#757575;border-radius:100%;box-sizing:border-box}
.oneclick_cont .txt_wrap:after{content:"";clear:both;display:block;}

.oneclick_cont .icon_box_wrap .oc_product_list li button .under{position:relative;display:inline-block;font-style:normal;z-index:0}
.oneclick_cont .icon_box_wrap .oc_product_list li button .under:after{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;height:8px;background-color:#fff669;z-index:-1}

.onlineJoin {width:1100px; height:98px;  position:absolute; bottom:0; z-index:98; position: fixed;} /* 20190611 레이어팝업 dim 뒤로 숨김 */
.onlineJoin .conL {float:left; width:550px; height:100%; padding-top:23px; text-align:center; border:1px solid #147bfd; box-sizing:border-box; background:#fff;}
.onlineJoin .conL dl {text-align:right; display:inline-block; margin-right:30px;}
.onlineJoin .conL dl dt {font-size:20px; font-family: 'NanumSquareEB'; color:#147bfd;}
.onlineJoin .conL dl dd {margin-top:6px; font-size:16px; color:#b4b4b5;font-family:'Noto Sans bold',sans-serif}
.onlineJoin .conL .price {display:inline-block; letter-spacing:-3px; vertical-align:top; font-size: 45px; color: #147bfd; font-family: 'NanumSquareEB';}
.onlineJoin .conL .price span {font-size:34px;letter-spacing:0px;}
.onlineJoin .conR {float:left; width:550px; height:100px; padding-top:34px; text-align:center; box-sizing:border-box; background: #147bfd;}
.onlineJoin .conR a {display:block; padding:0 50px 0 0; font-size:30px; font-family: 'NanumSquareEB'; color:#fff; }
.onlineJoin.proType .conL{border:1px solid #13c6ff;}
.onlineJoin.proType .conR{background:#13c6ff;}
.onlineJoin.proType .conL dl dt,.page_cont .onlineJoin.proType .conL .price{color:#13c6ff;}
